global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats mode 660 level admin

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout connect         5s
    timeout client          30s
    timeout server          30s
    timeout http-request    10s
    timeout queue           1m
    timeout http-keep-alive 10s
    timeout check           5s

frontend mywebapp
    bind *:80
    capture request header Host len 64
    acl is_health path /health
    use_backend health_be if is_health
    default_backend webservers

backend webservers
    balance     roundrobin
    cookie      SRV insert indirect nocache
    option      httpchk GET /health
    http-check  expect status 200
{% for role, ip in web_backends %}
    server      {{ role }} {{ ip }}:80 check inter 2s fall 3 rise 2 cookie {{ role }}
{% endfor %}


backend health
    balance     roundrobin
    option      httpchk GET /health
    http-check  expect status 200
{% for role, ip in web_backends %}
    server      {{ role }} {{ ip }}:80 check inter 2s fall 3 rise 2
{% endfor %}

listen stats
    bind        *:8404
    mode        http
    stats       enable
    stats       uri /stats
    stats       refresh 5s
    stats       admin if TRUE
    stats       auth admin:lmc-stats
